.map {
    grid-area: map;
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;

    background-color: black;

    overflow: hidden;
    --map-width: 5;
    --map-height: 5;
    grid-template-columns: repeat(var(--map-width), 1fr);
    grid-template-rows: repeat(var(--map-height), 1fr);
}

.field {
    border: 1px solid black;
    background-size: contain;
    cursor: pointer;

    &:hover {
        border: 2px solid red;
    }

    &-type {

        &--plane {
            background: linear-gradient(320deg, #075a07, #2d962d);
        }

        &--cavern {
            background-image: url("../images/cavern.svg"), linear-gradient(320deg, #075a07, #2d962d);
        }

        &--city {
            background-image: url("../images/city.svg"), radial-gradient(#374237 50%, #2d962d);
            // radial-gradient(#445744 50%, transparent);
        }

        &--loading {
            width: 80%;
            height: 80%;
            border: none;
            border-radius: 100%;
            margin: auto;
            cursor: progress;

            background: radial-gradient(transparent 8%, #888888 10%, #888888 20%, transparent 22%),
                linear-gradient(0deg, black 45%, transparent 55%),
                linear-gradient(50deg, black 45%, transparent 55%);
            background-blend-mode: multiply;
            animation: rotate 2s linear infinite;
        }

        &--none {
            background: repeating-linear-gradient(0deg, transparent 0px, transparent 20px, #aaaaaa 20px, #aaaaaa 40px),
                repeating-linear-gradient(90deg, transparent 0px, transparent 20px, #aaaaaa 20px, #aaaaaa 40px);
        }
    }

}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
