* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
}
*:focus, *:focus-visible {
  outline: none;
}

body {
  margin: 0;
}

.u-hidden {
  display: none !important;
}

:root {
  --theme-color: #884444;
  --theme-color-border: #444444;
  --theme-color-bg: #aa5500;
  --theme-color-action: #cc2222;
}

.map-control {
  display: flex;
  flex-direction: column;
}

.app {
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: 8px;
  background: var(--theme-color-bg);
  overflow: hidden;
  grid-template: "map  map  menu" "map  map  menu" "info info menu";
  grid-template-columns: 1fr 1fr 300px;
  grid-template-rows: 1fr 1fr 250px;
}

.info {
  grid-area: info;
  border-top: 5px solid var(--theme-color-border);
}

.menu {
  grid-area: menu;
  border-left: 5px solid var(--theme-color-border);
}

.map {
  grid-area: map;
  display: grid;
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: black;
  overflow: hidden;
  --map-width: 5;
  --map-height: 5;
  grid-template-columns: repeat(var(--map-width), 1fr);
  grid-template-rows: repeat(var(--map-height), 1fr);
}

.field {
  border: 1px solid black;
  background-size: contain;
  cursor: pointer;
}
.field:hover {
  border: 2px solid red;
}
.field-type--plane {
  background: linear-gradient(320deg, #075a07, #2d962d);
}
.field-type--cave {
  background-image: url(/images/cavern.svg?0c8e11974780a14ffbcf04822a2c6fdd), linear-gradient(320deg, #075a07, #2d962d);
}
.field-type--city {
  background-image: url(/images/city.svg?0666296ab2cc784e87a70ebdf712e45a), radial-gradient(#374237 50%, #2d962d);
}
.field-type--loading {
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 100%;
  margin: auto;
  cursor: progress;
  background: radial-gradient(transparent 8%, #888888 10%, #888888 20%, transparent 22%), linear-gradient(0deg, black 45%, transparent 55%), linear-gradient(50deg, black 45%, transparent 55%);
  background-blend-mode: multiply;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}
.field-type--none {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 20px, #aaaaaa 20px, #aaaaaa 40px), repeating-linear-gradient(90deg, transparent 0px, transparent 20px, #aaaaaa 20px, #aaaaaa 40px);
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.settings {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: visibility 0s 0s, opacity 0.25s 0s ease-out;
}
.settings.js-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s 0s ease-out;
}
.settings__menu {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--theme-color-border);
  position: relative;
  display: flex;
  width: auto;
  min-width: 250px;
  padding: 8px 16px;
  margin: auto;
  box-shadow: 5px 5px 4px #00000088;
  flex-direction: column;
  background-color: var(--theme-color-bg);
}
.settings__button {
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--theme-color-border);
  position: relative;
  display: block;
  padding: 0.5em;
  background: var(--theme-color-action);
  box-shadow: 2px 2px 4px #00000040;
  cursor: pointer;
  text-align: center;
  transition: transform 0.25s linear;
  font-size: 1.5rem;
  margin: 8px 16px 8px 16px;
}
.settings__button:after {
  border-radius: 5px;
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  box-shadow: 6px 6px 8px #00000080;
  opacity: 0;
  transition: opacity 0.25s linear;
}
.settings__button:hover {
  z-index: 1;
  transform: translate(-2px, -2px);
}
.settings__button:hover:after {
  opacity: 1;
}
.settings__close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 2rem;
  height: 2rem;
}
.settings__close-button {
  border-style: solid;
  border-width: 3px;
  border-color: var(--theme-color-border);
  position: relative;
  box-shadow: 0 0 4px 1px black;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 100%;
  cursor: pointer;
  font-size: 1rem;
  color: black;
  background: var(--theme-color-action);
  text-align: center;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  transition: border-width 0.25s linear;
}
.settings__close-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px 1px black;
  opacity: 0;
  transition: opacity 0.25s linear;
  border-style: solid;
  border-width: 3px;
  border-color: var(--theme-color-border);
  top: -3px;
  left: -3px;
  border-radius: 100%;
}
.settings__close-button:hover:after {
  opacity: 1;
}
.settings__close:hover .settings__close-x-hover {
  opacity: 1;
}
.settings__close-x {
  stroke: black;
  stroke-width: 4px;
}
.settings__close-x--hover {
  stroke: black;
  stroke-width: 12px;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu__seperator {
  margin-top: auto;
}
.menu__item {
  margin: 8px 16px;
}
.menu__title {
  width: auto;
  border: 5px solid var(--theme-color-border);
  font-size: 1.5rem;
  background: var(--theme-color);
  text-align: center;
}
.menu__title > h1 {
  margin: 0;
}

.info {
  display: grid;
  grid-template-areas: "image info";
  grid-template-columns: auto 1fr;
}
.info__image {
  border-style: solid;
  border-width: 3px;
  border-color: var(--theme-color-border);
  grid-area: "image";
  display: block;
  width: 250px;
  height: 100%;
  margin: auto;
  background: var(--theme-color);
}
.info__image img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(320deg, #075a07, #2d962d);
}
.info__data {
  border-style: solid;
  border-width: 3px;
  border-color: var(--theme-color-border);
  grid-area: "data";
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
